@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}

.abril {
  font-family: "Abril Fatface", serif;
  font-style: normal;
}

.lato {
  font-family: "Lato", sans-serif;
  font-style: normal;
}

.menuSlideIn{
  animation: menuSlideIn 0.5s ease-in-out forwards;
}

@keyframes menuSlideIn{
  from{
    transform: translateY(-100%);
  }
  to{
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-down {
  animation: fadeInDown 1s ease-out forwards;
}